{{</templates/default}}
{{$content}}
<iframe id="tenacity-dashboard-iframe"
        seamless
        class="col-lg-12"
        style="height: 100%; width: 100%; min-height: 1200px"
        src="/assets/monitor/monitor.html?delay=1000&stream={{escapedBreakerboxHostAndPort}}%2Fturbine.stream%3Fcluster%3D{{clusterName}}"></iframe>
{{/content}}
{{//templates/default}}