{{</templates/default}}
{{$content}}
<div class="container">
    <div class="jumbotron">
        <p class="lead">There are no available propertykeys for {{serviceId}}</p>
    </div>
</div>
{{/content}}
{{//templates/default}}